.container__perguntas h1{
    font-size: 24px;
    color: hsl(238, 29%, 16%);
    margin-bottom: 40px;
}

.container__perguntas{
    padding: 0px 20px;
}

@media screen and (max-width: 480px){
    .container__perguntas h1{
        text-align: center;
        margin-bottom: 20px;
    }
}