.pagina__principal{
  padding: 0px 0px;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__principal {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content:space-around;
  width: 900px;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  padding: 20px 10px;
}

@media screen and (max-width: 480px){
  
  .container__principal{
    grid-template-rows: 50% 50%;
    grid-template-columns: none;
    width: 270px;
    padding: 0px 10px 60px 10px;
  }
  
}


