.App {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content:space-around;
  width: 900px;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  padding: 20px 10px;

}

.imagem-principal{
  background-image: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  width: 90%;
}


